html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../../Ketlebell.png');
    background-position: center;
    background-repeat: no-repeat;
}

.abutt {
    height: 35px;
    border-color: white;
    border-radius: 13px;
}

.abutt:hover {
    background-color: aliceblue;
}

.alink {
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.rlink {
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: red;
}

.aabutt {
    height: 30px;
    border-color: white;
    border-radius: 10px;
}

.aabutt:hover {
    background-color: aliceblue;
}