@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@model IEnumerable<Gym14.Models.ApplicationUser>

@{
    ViewData["Title"] = "Memindex";
}

<h2>All members</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Booking members
            </th>
            <th>
                E-mail
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                @if (!item.IsRegistered && item.LastName.ToUpper() != "ADMIN")
                {
                       <button type="button" class="abutt"><a class="rlink" asp-action="Memreg" asp-route-id="@item.Id">Not Registered</a></button>                       
                }
                @if (item.LastName.ToUpper() != "ADMIN")
                {
                       <button type="button" class="abutt"><a class="alink" asp-action="Memdelete" asp-route-id="@item.Id">Delete member</a></button>                       
                }                 
                </td>
            </tr>
        }
    </tbody>
</table>
Important!<br />
In AspNetRoles: 1 = "Administrators" (ADMINISTRATORS), 2 = "Members" (MEMBERS).<br />
The administrator's last name must always be "Admin".
<div>
    <button type="button" class="aabutt"><a class="alink" asp-action="Create">Back to List</a></button>
</div>