@page "/fetchdata"
@inject HttpClient Http

<PageTitle>List of Devices</PageTitle>

<h3>List of Devices</h3>

@if (mdata == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table tableP">
        <thead>
            <tr>
                <th>ID</th>
                <th>Location</th>
                <th>Date</th>
                <th>Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in mdata)
            {
                <tr>
                    <td>@data.id</td>
                    <td>@data.Location</td>
                    <td>@data.Date.ToShortDateString()</td>
                    <td>@data.Type</td>
                    @if (data.Status)
                    {
                        <td><img width="100" src="inoperation.png" alt="In operation" title="In operation" /></td>
                    }
                    else
                    {
                        <td><img width="100" src="outoforder.png" alt="Out of order" title="Out of order" /></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private MachineData[]? mdata;

    protected override async Task OnInitializedAsync()
    {
        mdata = await Http.GetFromJsonAsync<MachineData[]>("sample-data/machines.json");
    }

    public class MachineData
    {
        public string id { get; set; } = Guid.NewGuid().ToString("n");

        public string Location { get; set; } = string.Empty;

        public DateOnly Date { get; set; }

        public string Type { get; set; } = string.Empty;

        public bool Status { get; set; }
    }
}
