@inherits LayoutComponentBase

<nav class="navarea">
    <NavMenu />
</nav>

<main class="area">
    <div class="space1">Text1</div>
    <div class="space2">@Body</div>
</main>

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@
