@inherits LayoutComponentBase

    <nav class="navarea">
        <div class="navspace1">M A C H I N E - P A R K</div>
        <div class="navspace2">Text2</div>
        <div class="navspace3">Text3</div>
    </nav>

    <article class="area">
        <div class="space1">Text1</div>
        <div class="space2">Text2</div>
    </article>

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@
