@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">♣ BL ♣</h1>
    <p>Blazor <span style="font-weight: bold; background-color: red; color: white">LEXICON</span> Garage</p>
</div>
<br />

<div class="text-center">
    <img src="@Url.Content("images/Veranda.jpg")" width="889" height="500" alt="Blazor Lexicon Garage" />
</div>
